$white: #fff;
$violet: #343045;
$btn-bg: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
$feedback-bg: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
$stroke-bg: rgba(192, 183, 232, 0.33);
$card-bg: (radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%));
$card-border: #C0B7E8;
$cta-bg:(radial-gradient(50% 50.00% at 50% 50.00%, #403A5F 0%, #211E2E 100%));